{% extends "current_foods.html" %}
{% block input %}
    <div style="text-align: center">
    {% if (num_of_foods == 1) %}
        <p>Grab a seat and enjoy your <strong>{{ food[0] }}!</p>
    {% elif (num_of_foods == 2) %}
        <p>Grab a seat and enjoy your <strong>{{ food[0] }}</strong>, and <strong>{{ food[1] }}</strong>!</p>
    {% else %}
        <p>Grab a seat and enjoy your <strong>{{ food[0] }}, {{ food[1] }}</strong>, and <strong>{{ food[2] }}</strong>!</p>
    {% endif %}
    </div>
{% endblock %}
