{% extends "current_foods.html" %}
{% block input %}
    {{ from_full }}
    <div style="text-align: center">
    <p>You only have the ability to carry 3 foods on your tray at one time.</p><br>
        <h4><strong>What kind of food do you feel like eating?</strong></h4>
    <p>(Keep it simple... Something like soup, chicken, pie, etc)</p>

    <form>
    <input type="search" id="food_search" placeholder="Search food...">
    <input type="Button" class="button btn btn-dark" id="food" value="Search" onclick='search()'>
    </form>
    </div>
    <script>
    function search(){
        var x = document.getElementById('food_search').value
        window.location.href = '/search_food/'.concat(x)
    }
    </script>

{% endblock %}
